{% extends "base.html" %} {% load static from staticfiles %} {% block title %}Nueva Compra{% endblock title %} {% block content %} {% csrf_token %}
<div class="ui grid container">

  <div class="wide column">
    <div class="grid_bar">
      <div class="links_bar">
        <a href="{% url 'compras:all_compras' %}" class="title-back-link">
          <i class="angle left icon   icon-left"></i>
          Compras
        </a>
      </div>
    </div>

  </div>
</div>

<div class="ui grid container" id="app">
  <div class="grid_bar">
    <div class="six wide column">
      <h1 class="title-bar-factura">Nueva compra</h1>
    </div>
    <div class="wide column" id="newInvoice">
      <div class="invoice-border">
        <h3 class="title-invoice">Proveedor y fechas</h3>
        <form class="ui form" autocomplete="off" v-on:submit.prevent>

          <div class="fields">
            <div class="six wide field">
              <label for="" class="label-form">Proveedor</label>
              <div class="ui search">
                <div class="ui icon input">

                  <input v-on:keyup="buscar_pro" v-model="text" class="prompt" type="text" placeholder="Buscar...">
                  <i class="search icon"></i>

                </div>
                 <div class="results transition" :class="{'visible':client.length , 'hidden': !client.length }">
                  <a @click="selectClient(index)" v-for="(cliente,index) in client" class="result">
                    <div class="content">
                      <div class="title" v-text="cliente.nombre"></div>
                      <div class="description" v-text="cliente.iden"></div>
                    </div>
                  </a>
                </div> 
              </div>
            </div>
            <div class="four wide field">
            </div>
            <div class="three wide required field">
              <label for="" class="label-form">Numero Factura</label>
              <input v-model="info.compra.numero" type="text" name="" value="">
            </div>
            <div class="three wide required field">
              <label for="" class="label-form">Fecha Factura </label>
              <input type="date" v-model="info.compra.fecha" name="" value="">
            </div>
          </div>



          <div class="fields">
            <div class="six wide  field">
              <label for="" class="label-form">Indentificación</label>
              <input :value="info.cliente.iden"  type="text" name="ident" readonly required>
            </div>
            <div class="four wide field"></div>
            <div class="six wide field">
              <label for="" class="label-form">Notas</label>
              <textarea name="name" rows="5" cols="50"></textarea>
            </div>
          </div>
          <div class="products-border">

          </div>
          <h3 class="title-invoice">Linea de productos</h3>
          <div class="fields">

            
          </div>
          <div class="fields">
            <div class="six wide field">
              <div class="ui fluid search">
                <div class="ui icon input">
                  <input v-on:keyup="buscarProducto" v-model="producto" class="prompt" type="text" placeholder="Buscar...">
                  <i class="search icon"></i>
                </div>
                <div class="results transition" v-bind:class="{'visible':productos.length , 'hidden': !productos.length }">
                  <a class="result" @click="selectProduct(index)" v-for="(product ,index) in productos">
                    <div class="content">
                      <div class="title" v-text="product.nombre"></div>
                      <div class="description" v-text="product.presentacion"></div>
                      <div class="price" v-text="product.precio"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div> 
          
          <div class="fields">
            <div class="two wide required field">
              <label for="" class="label-form">Codigo</label>
              <input id="id_codigo" type="text" name="name" value="" readonly :value="valuesProduct.id">
            </div>
            <div class="six wide  required field">
              <label for="" class="label-form">Producto</label>
              <input id="id_producto" type="text" name="name" value="" readonly :value="valuesProduct.nombre">
            </div>
            <div class="two wide required field">
              <label for="" class="label-form">IVA</label>
              <input id="id_iva" type="text" name="name" value="" readonly :value="valuesProduct.iva">
            </div>
            <div class="three wide required  field">
              <label for="" class="label-form">Precio</label>
              <input id="id_precio" type="number" name="name" :value="valuesProduct.precio" v-model="valuesProduct.precio">
            </div>
            <div class="three wide required field">
              <label for="" class="label-form">Cantidad</label>
              <input id="id_cantidad" type="number" name="name" :value="valuesProduct.cantidad" v-model="valuesProduct.cantidad">
            </div>
          </div>
          <div class="fields aligning right">
            <div class="two field ">
              <button v-on:click="charge" class="ui  button btn">
                  Agregar
              </button>
            </div>
          </div>
          <div class="products-border">

          </div> 
          
          <div class="wide field">
            <table class="ui padded basic table bar_table">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Producto</th>
                  <th>Valor U</th>
                  <th>IVA</th>
                  <th>Cantidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(data,index) in info.datos">
                  <td v-text="data.id"></td>
                  <td v-text="data.nombre"></td>
                  <td v-text="data.precio"></td>
                  <td v-text="data.iva"></td>
                  <td v-text="data.cantidad"></td>
                  <td>
                    <button @click="deleteRow(index)" class="ui icon button btn">
                        <i class="remove icon"></i>
                    </button>
                  </td>
                </tr>
              </tbody>



            </table>
          </div>
          {% verbatim %}

          <div class="products-border">

          </div>
          <div class="fields">
            <div class="eight wide field">
              <h3 class="title-invoice">Totales</h3>
            </div>
            <div class="four wide field">
              <span>Subtotal</span>
              <span id="id_sub" class="label float invoice-tot">${{subtotal}}</span>
            </div>
          </div>
          <div class="fields">
            <div class="eight wide field">

            </div>
            <div class="four wide field">
              <span>IVA</span>
              <span id="id_iv" class="label float invoice-tot">${{subiva}}</span>
            </div>
          </div>
          <div class="fields">
            <div class="eight wide field">

            </div>
            <div class="four wide field">
              <span>Total</span>
              <span id="id_tot" class="label float">${{tota}}</span>
            </div>
          </div>
          {% endverbatim %}
          <div class="products-border">

          </div>
          
          <div class="products-border">

          </div>
          <div class="six wide field">
            <button   @click="saveCompra" class="ui   button btn">
              Guardar
            </button>
          </div>

      </div>



      </form>
    </div>
  </div>
</div>








{% endblock content %} {% block js %}


<script  src="{% static 'js/compras/proveedores.js'%}"></script>
<script type="text/javascript" src="{% static 'js/moneda.js'%}"></script>
{% endblock js %}