@font-face
{
    font-family: Roboto Slab;
    font-weight: bold;

    src: url('../css/Roboto_Slab/RobotoSlab-Bold.ttf');
}
@font-face
{
    font-family: Roboto Slab R;

    src: url('../css/Roboto_Slab/RobotoSlab-Regular.ttf');
}
.ui.header
{
    font-family: 'Roboto Slab R', monospace !important;
    font-weight: bold;
}

.fondo_menu
{
    background-color: #e4edea !important;
}

.item_menu
{
    color: #666 !important;
}

.letter_color
{
    color: #fff !important;
}

.column_login
{
    max-width: 450px !important;
}

.back-login
{
    background-color: #e4edea !important;
}

.grid_login
{
    height: 100% !important;
}

body
{
    font-family: 'Roboto Slab R', serif !important;
}

.ui.table thead th
{
    font-size: 12px;
    font-weight: bold !important;

    text-align: center !important;

    color: #00535e !important;
    background-color: #e4edea !important;
}

.ui.table tbody td
{
    padding: .4em !important;
}

.button_color
{
    color: #fff !important;
    background-color: #00535e !important;
}

.font-drop
{
    font-family: 'Roboto Slab R', serif !important;
}

.font-thead
{
    font-family: 'Roboto Slab ', serif !important;
}

.font-tbody
{
    font-family: 'Roboto Slab R', serif !important;
}

.space-letter
{
    letter-spacing: .13em;
}

.tab-font
{
    font-family: 'Roboto Slab' !important;

    color: #6b8571 !important;
}

.invoice-item
{
    padding: 1rem 0 1rem 1rem;

    cursor: pointer;
    animation-duration: .5s;

    border-bottom: 1px solid rgba(232, 235, 240, .6);
}

.invoice-item__container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;

    padding-right: 3em;
}

.invoice-item__data
{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;

    max-width: 50%;
}

.invoice-item__name
{
    font-size: .9rem;
    font-weight: 500;

    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}

.invoice-item__quantity
{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
        flex: 0 0 15%;

    max-width: 15%;

    color: #00b19d;
}

.size-segment
{
    min-width: 470;
}

.invoice-item__total
{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
        flex: 0 0 30%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    max-width: 30%;
    padding-right: 1rem;
}

.invoice-item__trash
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5%;
        flex: 0 0 5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    max-width: 5%;
    margin: 0;
    padding: 0 0 0 .2rem;

    border-right: none;
    background-color: #fff;
}

#invoice__summary
{
    bottom: 0;

    width: 100%;

    background-color: rgba(232, 235, 240, .6);
}

#invoice__totals
{
    padding: 1rem 2rem;
}

.invoice__total
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#invoice__pay
{
    width: 100%;
    padding: 0 1rem 1.5rem;
}

.rAlign
{
    text-align: right;
}

.lAlign
{
    text-align: left;
}

.animated
{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.fadeInLeft
{
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
}

.btnPay
{
    font-size: 1.5em !important;

    display: flex !important;
    justify-content: space-between;

    height: auto;
    padding: .8em !important;

    vertical-align: middle !important;
}

.btnPay p
{
    margin: 0;
}

.header-card
{
    font-size: 1em !important;
}

.color-price
{
    color: teal !important;
}

.color-desc
{
    color: red !important;
}

#invoice__cancel
{
    font-size: 1em !important;
    font-weight: 500;

    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 3.8rem;
    margin: 0 !important;
    padding: 1.5em;

    color: #fff;
    border: none;
    border-radius: 0;
    background-color: #809bb6;
}

#invoice__cancel div
{
    height: 100%;
    margin-left: 1em;
    padding-right: 1.5em;
}

.invoice__cliente
{
    display: flex;
}

.invoice__cliente .input
{
    width: 100%;
}

.header_report_invoice
{
    padding: 1em !important;

    text-align: center;

    color: #1a5e53 !important;
}

.header_report_invoice p
{
    margin-top: 1em !important;

    color: #698d4d;
}

.btn
{
    font-size: .9rem !important;

    color: white !important;
    background-color: #00535e !important;
}

.header_facturas
{
    display: flex;

    padding: .8em;
}

.header_facturas .header
{
    font-size: 1.4em !important;

    margin: auto 3em auto .5em !important;

    color: #1a5e53 !important;
}

.ui.message
{
    border-radius: .7em !important;
    background-color: #f3f3f3 !important;
    box-shadow: 0 0 0 1px #f3f3f3 inset, 0 0 0 0 #f3f3f3 !important;
}

.resultado_factura
{
    margin-right: 1em !important;
    margin-left: auto !important;

    border-width: 1px;
    border-style: solid !important;
    border-color: #d0d0d0;
}

.x-label
{
    font-weight: bold;

    text-align: right;

    color: black;
}

.resultado_factura td
{
    padding: .8em !important;
}

.total_subtotal
{
    float: right;

    width: 500px;
    margin-top: 10px;
    padding: 29px 0 29px 0;

    color: #333;
    border: 1px solid #ccc;
    background: none repeat scroll 0 0 #e6e6e6;
}

.total_subtotal .label
{
    font-weight: bold;

    float: left;

    width: 120px;

    text-align: center;
}

.total_subtotal .value
{
    float: left;

    width: 141px;

    text-align: right;
}

.sin_ventas
{
    font-size: 1.5em;

    padding: 2em;

    text-align: center;

    color: #888;
}

.total_factura
{
    display: flex;
    float: right;

    width: 400px;
    margin-top: 10px;
    padding: 10px 0 10px 0;

    color: #333;
    border: 1px solid #ccc;
    background: none repeat scroll 0 0 #e6e6e6;
}

.total_factura .label
{
    font-weight: bold;

    width: 100px;
    margin: 1em;

    text-align: right !important;
}
.nav
{
    min-width: 960px;

    border-bottom: 1px solid #dadae4;
    background: #f4f5f9;
    background: linear-gradient(to bottom,#f4f5f9 0%,#eee 100%);
}
/*# sourceMappingURL=style.css.map */
