@font-face font-family: Roboto Slab
  src: font-url("../css/Roboto_Slab/RobotoSlab-Bold.ttf")
  font-weight: bold

@font-face
  font-family: Roboto Slab R
  src: url("../css/Roboto_Slab/RobotoSlab-Regular.ttf")

.ui.header
  font-family: "Roboto Slab R" monospace
  font-weight: bold

.fondo_menu
  background-color: #e4edea

.item_menu
  color: #666


.letter_color
  color: #fff

.column_login
  max-width: 450px

.back-login
  background-color: #e4edea
.grid_login
  height: 100%

body
  font-family: 'Roboto Slab R' ,serif

.ui.table thead th
  font-size: 12px
  color: #00535e
  font-weight: bold
  background-color: #e4edea
  text-align: center
.ui.table tbody td
  padding: .4em

.button_color
  background-color:  #00535e
  color: #fff

.font-drop
  font-family: 'Roboto Slab R', serif

.font-thead
  font-family: 'Roboto Slab ', serif

.font-tbody
  font-family: 'Roboto Slab R' ,serif

.space-letter
  letter-spacing: .13em

.tab-font
  color: #6b8571
  font-family: 'Roboto Slab'


.invoice-item
  border-bottom: 1px solid rgba(232,235,240,.6)
  cursor: pointer
  animation-duration: .5s
  padding: 1rem 0 1rem 1rem

.invoice-item__container
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding-right: 3em
.invoice-item__data
  -webkit-box-flex: 0
  -ms-flex: 0 0 50%
  flex: 0 0 50%
  max-width: 50%

.invoice-item__name
  white-space: nowrap
  overflow: hidden
  -o-text-overflow: ellipsis
  text-overflow: ellipsis
  font-size: .9rem
  font-weight: 500

.invoice-item__quantity
  -webkit-box-flex: 0
  -ms-flex: 0 0 15%
  flex: 0 0 15%
  max-width: 15%
  color: #00b19d


.size-segment
  min-width: 470

.invoice-item__total
  -webkit-box-flex: 0
  -ms-flex: 0 0 30%
  flex: 0 0 30%
  max-width: 30%
  -webkit-box-pack: end
  -ms-flex-pack: end
  justify-content: flex-end
  padding-right: 1rem

.invoice-item__trash
  -webkit-box-flex: 0
  -ms-flex: 0 0 5%
  flex: 0 0 5%
  max-width: 5%
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  margin: 0
  padding: 0 0 0 .2rem
  background-color: #fff
  border-right: none

#invoice__summary
  width: 100%
  bottom: 0
  background-color: rgba(232,235,240,.6)
#invoice__totals
  padding: 1rem 2rem
.invoice__total
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between

#invoice__pay
  width: 100%
  padding: 0 1rem 1.5rem
.rAlign
  text-align: right

.lAlign
  text-align: left

.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.fadeInLeft
  -webkit-animation-name: fadeInLeft
  animation-name: fadeInLeft

.btnPay
  display: flex
  justify-content: space-between
  padding: .8em
  vertical-align: middle
  font-size: 1.5em
  height: auto

.btnPay p
  margin: 0

.header-card
  font-size: 1em
.color-price
  color: teal

.color-desc
  color: red

#invoice__cancel
  margin: 0
  width: 100%
  background-color: #809bb6
  color: #fff
  border: none
  border-radius: 0
  font-size: 1em
  font-weight: 500
  height: 3.8rem
  padding: 1.5em
  display: flex
  justify-content: flex-end

#invoice__cancel div
  height: 100%
  padding-right: 1.5em
  margin-left: 1em

.invoice__cliente
  display: flex

.invoice__cliente .input
  width: 100%

.header_report_invoice
  padding: 1em
  text-align: center
  color: #1a5e53

.header_report_invoice p
  color: #698d4d
  margin-top: 1em
.btn
  background-color: #00535e
  color: white
  font-size: .9rem

.header_facturas
  display: flex
  padding: .8em

.header_facturas .header
  color: #1a5e53
  font-size: 1.4em
  margin: auto 3em auto .5em

.ui.message
  background-color: #f3f3f3
  box-shadow: 0 0 0 1px rgb(243, 243, 243) inset, 0 0 0 0 #f3f3f3
  border-radius: .7em

.resultado_factura

  border-style: solid
  border-width: 1px
  border-color: #d0d0d0
  margin-left: auto
  margin-right: 1em

.x-label
  text-align: right
  color: black
  font-weight: bold

.resultado_factura td
  padding: .8em

.total_subtotal
  color: #333
  background: none repeat scroll 0 0 #e6e6e6
  border: 1px solid #ccc
  float: right
  margin-top: 10px
  padding: 29px 0 29px 0
  width: 500px
.total_subtotal .label
  font-weight: bold
  text-align: center
  float: left
  width: 120px
.total_subtotal .value
  width: 141px
  float: left
  text-align: right

.sin_ventas
  text-align: center
  font-size: 1.5em
  padding: 2em
  color: #888

.total_factura
  color: #333
  background: none repeat scroll 0 0 #e6e6e6
  border: 1px solid #ccc
  float: right
  margin-top: 10px
  padding: 10px 0 10px 0
  width: 400px
  display: flex

.total_factura .label
  font-weight: bold
  margin: 1em
  width: 100px
  text-align: right

.app-nav
  min-width: 960px
  background: #f4f5f9
  background: linear-gradient(to bottom,#f4f5f9 0%,#eee 100%)
  border-bottom: 1px solid #DADAE4

.nav-custom
    max-width: 960px
    margin: 0 auto
    box-sizing: border-box
    display: -ms-flexbox
    display: flex
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    -ms-flex-flow: row nowrap
    flex-flow: row nowrap
    -ms-flex-align: stretch
    align-items: stretch
.customizable-nav
      -ms-flex: 1 auto
      flex: 1 auto;

/*# sourceMappingURL=style.css.map */
