@font-face {
  font-family: Roboto Slab;
  src: url("../css/Roboto_Slab/RobotoSlab-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: Roboto Slab R;
  src: url("../css/Roboto_Slab/RobotoSlab-Regular.ttf"); }
.ui.header {
  font-family: "Roboto Slab R", monospace !important;
  font-weight: bold; }

.fondo_menu {
  background-color: #e4edea !important; }

.item_menu {
  color: #666 !important; }

.letter_color {
  color: #fff !important; }

.column_login {
  max-width: 450px !important; }

.back-login {
  background-color: #DADADA !important; }

.grid_login {
  height: 100% !important; }

body {
  font-family: "Roboto Slab R", serif !important; }

.ui.table thead th {
  font-size: 12px;
  color: #00535e !important;
  font-weight: bold !important;
  background-color: #e4edea !important;
  text-align: center !important; }

.ui.table tbody td {
  padding: 0.4em !important; }

.button_color {
  background-color: #00a98f !important;
  color: #fff !important; }

.font-drop {
  font-family: "Roboto Slab R", serif !important; }

.font-thead {
  font-family: "Roboto Slab ", serif !important; }

.font-tbody {
  font-family: "Roboto Slab R", serif !important; }

.space-letter {
  letter-spacing: 0.13em; }

.tab-font {
  color: #6b8571 !important;
  font-family: "Roboto Slab" !important; }

.invoice-item {
  border-bottom: 1px solid rgba(232, 235, 240, 0.6);
  cursor: pointer;
  animation-duration: 0.5s;
  padding: 1rem 0 1rem 1rem; }

.invoice-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 3em; }

.invoice-item__data {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.invoice-item__name {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 500; }

.invoice-item__quantity {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
  color: #00b19d; }

.size-segment {
  min-width: 470; }

.invoice-item__total {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 1rem; }

.invoice-item__trash {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5%;
  flex: 0 0 5%;
  max-width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0 0 0 0.2rem;
  background-color: #fff;
  border-right: none; }

#invoice__summary {
  width: 100%;
  bottom: 0;
  background-color: rgba(232, 235, 240, 0.6); }

#invoice__totals {
  padding: 1rem 2rem; }

.invoice__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#invoice__pay {
  width: 100%;
  padding: 0 1rem 1.5rem; }

.rAlign {
  text-align: right; }

.lAlign {
  text-align: left; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

.btnPay {
  display: flex !important;
  justify-content: space-between;
  padding: 0.8em !important;
  vertical-align: middle !important;
  font-size: 1.5em !important;
  height: auto; }

.btnPay p {
  margin: 0; }

.header-card {
  font-size: 1em !important; }

.color-price {
  color: teal !important; }

.color-desc {
  color: red !important; }

#invoice__cancel {
  margin: 0 !important;
  width: 100%;
  background-color: #809bb6;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1em !important;
  font-weight: 500;
  height: 3.8rem;
  padding: 1.5em;
  display: flex;
  justify-content: flex-end; }

#invoice__cancel div {
  height: 100%;
  padding-right: 1.5em;
  margin-left: 1em; }

.invoice__cliente {
  display: flex; }

.invoice__cliente .input {
  width: 100%; }

.header_report_invoice {
  padding: 1em !important;
  text-align: center;
  color: #1a5e53 !important; }

.header_report_invoice p {
  color: #698d4d;
  margin-top: 1em !important; }

.btn {
  background-color: #00535e !important;
  color: white !important;
  font-size: 0.9rem !important; }

.header_facturas {
  display: flex;
  padding: 0.8em; }

.header_facturas .header {
  color: #1a5e53 !important;
  font-size: 1.4em !important;
  margin: auto 3em auto 0.5em !important; }

.ui.message {
  background-color: #f3f3f3 !important;
  box-shadow: 0 0 0 1px #f3f3f3 inset, 0 0 0 0 #f3f3f3 !important;
  border-radius: 0.7em !important; }

.resultado_factura {
  border-style: solid !important;
  border-width: 1px;
  border-color: #d0d0d0;
  margin-left: auto !important;
  margin-right: 1em !important; }

.x-label {
  text-align: right;
  color: black;
  font-weight: bold; }

.resultado_factura td {
  padding: 0.8em !important; }

/*# sourceMappingURL=style.css.map */
