{% extends "base.html" %}
{% block title %}Facturas{% endblock %}
{% load static from staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static 'css/pagination.css'%}" >
{% endblock css %}
{% block content %}
{% csrf_token %}
  <div class="ui grid container">
    <div class="wide column">
      <div class="ui message ">
        <div class="content header_facturas">
          <div class="header ">
            <i class="disk outline big icon"></i>
            Facturas de Venta
          </div>
          <a href="{% url 'ventas:nuevafactura'%}" class="ui button btn">
            <i class="plus large icon"></i>
            Nueva factura de venta
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui grid container">
    <div class="ui wide four column">

    </div>
  </div>
  <section class="ui grid container">
    <div class="ui  wide sixteen column">
      <table  class="ui celled structured small table">
        <thead >
          <tr >
            <th>Numero</th>
            <th>Creación</th>
            <th>Cliente</th>
            <th>Nombre</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody  id="TableFact">

        </tbody >

      </table>
      <div id="pagging" >

      </div>

    </div>

  </section>

{% endblock %}
{% block js %}
  <script type="text/javascript">
    let data = JSON.parse('{{data|safe}}')
  </script>
  <script type="text/javascript" src="{% static 'js/pagination.js' %}" ></script>
  <script type="text/javascript" src="{% static 'js/ventas/facturas.js' %}" ></script>


{% endblock %}
