{% extends "base.html" %}
{% block title %}.:Detalle Pedido:.{% endblock title %}
{% load static from staticfiles %}
{% block content %}
{% csrf_token %}
  <div class="ui grid container">
    <div class="ui wide sixteen column">
      <div class="ui segments" id="detPedido">
        <div id="action" class="ui segment">
            <a data-tooltip="Imprimir Copia" @click="copiaPedido">
              <i  class="large circular link teal print icon"></i>
            </a>
        </div>
        <div id="datos" class="ui segment">
          <div class="ui middle aligned divided list">
            <div class="item">
              
              <i class="calendar icon"></i>
              <div class="content" >
                Pedido #:
                <span v-text="detalle[0].pedido"></span>
              </div>
            </div>
            <div class="item">
              <i class="user icon"></i>
              <div class="content">
                Cliente:
                <span v-text="detalle[0].cliente"></span>
              </div>
            </div>
            <div class="item">
              <i class="map outline icon"></i>
              <div class="content">
                Dirección:
                <span v-text="detalle[0].direccion"></span>
              </div>
            </div>
            <div class="item">
              <i class="fax icon"></i>
              <div class="content">
                Telefono:
                <span v-text="detalle[0].telefono"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <table class="ui celled table">
            <thead>
                <tr>
                    <th>Fecha Abono</th>
                    <th>Valor Abono</th>
                    <th></th>  
                </tr>
            </thead>
            <tbody>
              <tr v-for="abono in abonos">
                <td class="center aligned" v-text="abono.fecha"></td>
                <td class="right aligned" v-text="moneda(abono.valor)"></td>
                <td class="center aligned">
                  <button @click="pdfAbono(abono.id)" class="circular large ui icon button">
                    <i class="file pdf outline icon"></i>
                  </button>
                </td>
              </tr>
            </tbody>
        </table>
        </div>
        <div  class="ui segment">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>CODIGO</th>
                <th>PRODUCTO</th>
                <th>VALOR</th>
                <th>IVA</th>
                <th>CANTIDAD</th>
                <th>TOTAL</th>

              </tr>
            </thead>
            <tbody>
              
              <tr v-for="datos in detalle">
              {%verbatim%}  
                <td v-text="datos.codproducto"></td>
                <td v-text="datos.nombre"></td>
                <td v-text="datos.precio"></td>
                <td v-text="datos.iva"></td>
                <td v-text="datos.cantidad"></td>
                <td v-text="moneda(datos.cantidad * datos.precio)"></td>
              {%endverbatim%}  
              </tr>
              

            </tbody>
          </table>

        </div>
      </div>

    </div>

  </div>
  {{data.factura}}

{% endblock content %}
{% block js %}
  <script type="text/javascript">
    var detalle = JSON.parse('{{data|safe}}')
    var abonos = JSON.parse('{{abonos|safe}}')
    
  </script>

  <script type="text/javascript" src="{% static 'js/moneda.js' %}" ></script>
  <script type="text/javascript" src="{% static 'js/vue.min.js' %}" ></script>  
  <script type="text/javascript" src="{% static 'js/ventas/detalle_pedido.js' %}" ></script>    
  
  <script src="{% static 'js/jspdf.min.js'%}"></script>
  <script src="{% static 'js/autotable.js'%}"></script>



{% endblock js %}
