{% extends "base.html" %}
{% block title %}.:Ventas POS:.{% endblock %}
{% block content %}
  <div class="ui grid  stackable container ">
    <div class="nine wide  column">
      <div class="ui fluid input "><input type="text" placeholder="Buscar Productos"></div>
    </div>
    <div class="seven wide column">
      <div class="nine wide  column">
        <div class="ui fluid left icon input">
          <input type="text" placeholder="Buscar Cliente">
          <i class="users icon"></i>
        </div>
      </div>
    </div>
    <div class="nine wide column"></div>
    <div class="seven wide column">
      <h4>Agrega productos para crear tu factura de venta</h4>
    </div>
    <div class="nine wide column"></div>
    <div class="seven wide column">
      <div class="ui bottom attached button primary">
        
      </div>
    </div>
  </div>
{% endblock %}
