<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'js/jspdf.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/autotable.js' %}"></script>

  </head>
  <body>

    <script type="text/javascript">
    var columns = [
    {title: "ID", dataKey: "id"},
    {title: "Name", dataKey: "name"},
    {title: "Country", dataKey: "country"},

];
var rows = [
    {"id": 1, "name": "Shaw", "country": "Tanzania"},
    {"id": 1, "name": "Shaw", "country": "Tanzania"},
    {"id": 1, "name": "Shaw", "country": "Tanzania"},
    {"id": 1, "name": "Shaw", "country": "Tanzania"},
    {"id": 1, "name": "Shaw", "country": "Tanzania"},
    {"id": 1, "name": "Shaw", "country": "Tanzania"},
    {"id": 1, "name": "Shaw", "country": "Tanzania"},


];

var doc = new jsPDF('p', 'pt');
doc.autoTable(columns, rows, {
    styles: {fillColor: [100, 255, 255]},
    columnStyles: {
    	id: {fillColor: 255}
    },
    margin: {top: 60},
    drawRow: function (cell, data) {
      // doc.text(`NUMERACION HABILITADA SEGUN RESOLUCION DIAN  DEL `)
      console.log(doc.autoTable.previous.finalY)

    },
});
doc.output('dataurlnewwindow')
    </script>


  </body>
</html>
