<!DOCTYPE html>
<html>
  <head>
    {% load static from staticfiles %}
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'semantic-ui/semantic.min.css'%}" >
    <link rel="stylesheet" href="{% static 'css/style.css'%}" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/vivero.ico' %}" />
    {% block css %}{% endblock css %}
    {% block js1 %}{% endblock js1 %}

  </head>
  <body  class="fondo">



    {% block nav %}
    <div id=menu  class="ui teal inverted  top attached stackable  pointing  menu fondo_menu " >
        <a href="/panel" class=" header item letter_color">Inicio</a>
        <div id="idVentas" class="ui dropdown item letter_color" >
            Ventas
          <i class="dropdown icon"></i>
          <div class="menu font-drop" >

            <a href="{% url 'ventas:selfacturas' %}" class="item ">
              <i class="add to cart icon "></i>
              Facturas
            </a>
            <div class="divider"></div>
            <a href="{% url 'ventas:remisiones' %}" class="item ">
              <i class="shopping bag icon"></i>
              Remisiones
            </a>
            <div class="divider"></div>
            <a href="{% url 'ventas:pos' %}" class="item">
              <i class="shopping basket icon"></i>
              POS
            </a>
          </div>
        </div>
        <div id="idGastos"  class="ui dropdown item letter_color" >
            Gastos
          <i class="dropdown icon"></i>
          <div class="menu font-drop" >
            <div class="item">
              <i class="add to cart icon "></i>
              Facturas Proveedores

            </div>
            <div class="divider"></div>
            <div class="item">
              <i class="shopping bag icon"></i>
              Remisiones
            </div>
            <div class="divider"></div>
            <div class="item">
              <i class="shopping basket icon"></i>
              POS
            </div>
          </div>
        </div>
        <div class="ui dropdown item letter_color">
          Contactos
          <i class="dropdown icon"></i>
          <div></div>
        </div>
        <div class="ui dropdown item letter_color">
          Inventario
          <i class="dropdown icon"></i>
          <div></div>
        </div>
        <a href="" class="item letter_color">Reportes</a>
        <div class="right menu">
          <a href="{% url 'dashboard:logout' %}" class="ui item letter_color">
            Salir
          </a>
        </div>
    </div>
    {% endblock nav %}



      <div class="fondo pusher " style="padding-top:14px">
      {% block content %}
      {% endblock content %}
      </div>







	  {% block footer %}{% endblock footer %}

    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'semantic-ui/semantic.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/menu.js'%}"></script>


    {% block js %}{% endblock js %}




  </body>
</html>
