{% extends "base.html" %} {% block title %}inventario{% endblock title %}{% load static from staticfiles %} {% block content %}
<div id="table_productos">


  <div class="ui grid container">

    <div class="wide column">
      <div class="grid_bar">
        <div class="links_bar">
          <a href="{% url 'inventario:productos' %}" class="title-nav-link active">Productos</a>
        </div>
      </div>

    </div>
  </div>
  <div class="ui grid container">
    <div class="grid_bar">
      <div class="four column">
        <a @click="showModal" class="ui primary button btn">Nuevo producto</a>
      </div>
    </div>


  </div>

  <section class="ui grid container">
    <div class="grid_bar">
      <div class="wide sixteen column">


        <div>
          <vue-good-table title="" :columns="columns" :rows="rows" :paginate="true" :lineNumbers="true" styleClass="ui basic table">
            <template slot="table-row" scope="props">
          <td class=" ">[[props.row.id]]</td>

          <td><barcode
            v-bind:value=props.row.barra
            :options="{displayValue: false,width:.9,height:30}"></barcode></td>
          <td class=" ">[[props.row.nombre]]</td>

          <td class=" ">[[props.row.categoria]]</td>
          <td class=" ">[[props.row.iva]]</td>
          <td class=" ">[[props.row.presentacion]]</td>
          <td class=" ">[[moneda(props.row.precio)]]</td>
          <td class=" ">[[props.row.stock]]</td>


          <td>
            <div class="ui icon bottom top right pointing dropdown button icon_action ">
            <i class="caret down icon"></i>
            <div class="menu">
              <a class="item" >Ver</a>
              <a class="item" @click="showModalAjustes(props.row.id)">Ajustes Inventario</a>



            </div>
          </div>
          </td>
        </template>

          </vue-good-table>
        </div>


      </div>
    </div>
  </section>
  <div class="ui modal" id="id_ajustes">
    <i class="close icon"></i>
    <div class="header title-new">
      Ajustes inventario
    </div>
    <div class="content">
      <h4 class="ui dividing header">Agregar inventario</h4>
      <form class="ui form" v-on:submit.prevent="add_inventario" id="form_add">
        <div class="fields">
          <div class="six wide field">
            <label for="">Cantidad a sumar</label>
            <input type="text" name="add" value="" v-validate="'required|numeric'" v-bind:class="{'err': errors.has('add')}">
          </div>

        </div>
        <div class="fields">
          <div class="six wide field">
            <button class="ui left floated primary button" type="submit">Agregar</button>
          </div>
        </div>

      </form>
      <h4 class="ui dividing header">Disminuir inventario</h4>
      <form class="ui form" v-on:submit.prevent="del_inventario" id="form_del">
        <div class="fields">
          <div class="six wide field">
            <label for="">Cantidad a restar</label>
            <input type="text" name="del" value="" v-validate="'required|numeric'" v-bind:class="{'err': errors.has('del')}">
          </div>

        </div>
        <div class="fields">
          <div class="six wide field">
            <button class="ui left floated primary button" type="submit">Quitar</button>
          </div>
        </div>

      </form>
    </div>
    <div class="actions">

    </div>
  </div>
  <div class="ui modal" id="id_nuevo">
    <i class="close icon"></i>
    <div class="header title-new">
      Nuevo producto
    </div>
    <div class=" content">
      <div class="wide column">
        <form class="ui form" v-on:submit.prevent="save_producto" enctype="multipart/form-data" id="form-producto">{% csrf_token %}
          <div class="fields">
            <div class="six wide field required">
              <label for="" class="label-form">Nombre</label>
              <input type="text" v-validate="'required|alpha'" name="nombre" value="" v-bind:class="{'err': errors.has('nombre')}">
            </div>

            <div class="six wide field required">
              <label for="" class="label-form">Utilidad precio neto %</label>
              <input type="text" name="ganancia" value="" v-validate="'required|decimal'" v-bind:class="{'err': errors.has('ganancia')}">
            </div>

          </div>
          <div class="fields">

            <div class="six wide field required">
              <label for="" class="label-form">IVA</label>
              <input type="number" name="iva" value="" v-validate="'required|decimal'" v-bind:class="{'err': errors.has('iva')}">
            </div>
            <div class="six wide field required">
              <label class="label-form" for="">Precio compra</label>
              <input type="number" name="precio_compra" value="" v-validate="'required|decimal'" v-bind:class="{'err': errors.has('precio_compra')}">
            </div>
          </div>
          <div class="fields">
            <div class="six wide field required">
              <label class="label-form" for="">Categoria</label>
              <select class="ui dropdown select-form" name="categoria" v-validate="'required|numeric'" v-bind:class="{'err': errors.has('categoria')}">
                <option value=""></option>
                <option v-for="pres in categoria" v-bind:value="pres.id">
                  [[pres.nombre]]
                </option>
              </select>
            </div>
            <div class="six wide field required">
              <label class="label-form" for="">Transporte %</label>
              <input type="number" name="transporte" value="" v-validate="'required|decimal'" v-bind:class="{'err': errors.has('transporte')}">
            </div>

          </div>
          <div class="fields">
            <div class="six wide field required">
              <label class="label-form" for="">Presentación</label>
              <select class="ui dropdown select-form" name="presentacion" v-validate="'required|numeric'" v-bind:class="{'err': errors.has('presentacion')}">
                <option value=""></option>
                <option v-for="pres in presentacion" v-bind:value="pres.id">
                  [[pres.nombre]]
                </option>
              </select>
            </div>
            <div class="six wide field required">
              <label for="" class="label-form">Utilidad x mayor %</label>
              <input type="number" name="utilidad" value="" v-validate="'required|decimal'" v-bind:class="{'err': errors.has('utilidad')}">
            </div>

          </div>
          <div class="fields">
            <div class="six wide field">
              <label for="" class="label-form">Codigo barras</label>
              <input type="text" name="barras" value="">
            </div>


          </div>
          <div class="fields">
            <div class="five wide field required">

            </div>
            <div class="five wide field required">

            </div>
            <div class="five wide field required">
              <button class="ui right floated primary button" type="submit" name="button">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>



{% endblock content %} {% block js %}
<script type="text/javascript">
  let data = JSON.parse('{{data|safe}}')
  let categoria = JSON.parse('{{categoria|safe}}')
  let presentacion = JSON.parse('{{presentacion|safe}}')
  console.log(data)
</script>
<script type="text/javascript" src="{% static 'js/barcode.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/inventario/productos.js' %}"></script>

{% endblock js %}