
<!DOCTYPE html>
<html>
  <head>
    {% load static from staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>.:Vivero Versalles:.</title>
    <link rel="stylesheet" href="{% static 'semantic-ui/semantic.min.css'%}" >
    <link rel="stylesheet" href="{% static 'css/login.css'%}" >

  </head>
  <body>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal header">
          <div class="content">
          </div>
        </h2>
        <form class="ui large form" method="post">{% csrf_token %}
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" placeholder="usuario" name="username">
              </div>

            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" placeholder="contraseña" name="password">
              </div>
            </div>
            <div class="field">
              <input type="submit" value="Ingresar" class="ui button large fluid teal">
            </div>
          </div>
        </form>
        <div class="ui message">

          <a href="#">Recuperar Contraseña</a>
        </div>
      </div>
    </div>
  </body>
</html>
